.spiner{
    width: 50px;
    height: 50px;
    border: 5px solid ;
    animation: spin 1s linear infinite;
    border-top-color: blue ;
    margin:230px auto;
    border-radius: 50%;
}

.spiner2{
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-bottom-color: red;
    animation: spin2 1s linear infinite;
    border-radius: 50%;


    
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(-360deg);
    }
}
