.div{
    border: 1px solid;
    width: 7%;
    background-color: blue;
}

.div1{
    border: 1px solid;
    width: 7%;
    border-color: red;
    background-color: blue;
    animation-name: spiner;
}

@keyframes spiner{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotateX(360deg);
    }
}

