.spiner{
    width: 70px;
    height: 65px;
    border: 10px solid ;
    background-color: red;
    animation: spin 1s infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0Deg);
    },

    100%{
        transform: rotate(360Deg);
    };
}
